@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<style>
    #accordion {
        width: 650px;
        height: 500px;
        border: 1px solid #bfbfbf;
        padding: 1px;
        box-sizing: border-box;
    }
</style>
<iframe src="/Courses/" id="accordion">