@model Core.Entities.Course
@{
    ViewData["Title"] = "Add a vehicle";
}



<div class="modal-body text-center text-warning">
    <h4>Great!</h4>
    <p>You successfully added the vehicle.</p>
    <a asp-controller="Vehicles" asp-action="index" class="btn btn-warning" data-dismiss="modal"><span>Close</span> <i class="material-icons">&times;</i></a>
</div>
