@using Core.ViewModels.CoursesViewModel
@model CourseViewModel
@using DevSite.Services
@inject IModuleSelectService moduleSelectService
@inject IActivitySelectService activitySelectService
@inject IDocumentSelectService documentSelectService

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Modules" class="control-label"></label>
                <select class="form-control bg-dark text-white" asp-for="ModuleId" asp-items="@await moduleSelectService.GetModuleAsync()">
                    <option selected="selected" value="">Please select a Module</option>

                </select>
                <span asp-validation-for="ModuleId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Activities" class="control-label"></label>
                <select asp-for="ActivityId" asp-items="@await activitySelectService.GetActivityAsync()" class="form-control bg-dark text-white">
                    <option selected="selected" value="">Please select an Activity</option>
                </select>

                <span asp-validation-for="ActivityId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="Documents" class="control-label"></label>
                <select asp-for="DocumentId" asp-items="@await documentSelectService.GetDocumentAsync()" class="form-control bg-dark text-white">
                    <option selected="selected" value="">Please select a Document</option>
                </select>

                <span asp-validation-for="DocumentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
