@using DevSite

@{
    ViewData["Title"] = "Edit a Course";
}

<div class="modal-body text-center text-warning">
    <h4>Great!</h4>
    <p>You have successfully edited the course.</p>
    <a asp-controller="Courses" asp-action="index" class="btn btn-warning" data-dismiss="modal"><span>Close</span> <i class="material-icons">&times;</i></a>
</div>
