@model Core.ViewModels.LMSUserViewModel

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex mt-3 ml-5">
    <div>
        <div class="card border-secondary courses-class-card">
            <div class="card-header">
                <h4>Delete</h4>
                <hr />
                <div class="row pb-0 mb-0">
                    Are you sure you want to delete?
                </div>
                <ul class="list-unstyled list-group list-group-flush p-4">
                    <li class="list-group-item">
                        @Html.DisplayFor(model => model.FullName)
                    </li>
                    <li class="list-group-item">
                        @Html.DisplayFor(model => model.UserType)
                    </li>
                </ul>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                    <a type="button" class="btn btn-outline-info" href="#" onclick="history.go(-1)">Go Back</a>
                </form>
            </div>
        </div>
    </div>
</div>