@using Microsoft.AspNetCore.Identity
@using Core.Entities;
@inject SignInManager<LMSUser> SignInManager
@inject UserManager<LMSUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<h1>Don't want to be here</h1>