@model IEnumerable<Core.Entities.Activity>
@using Microsoft.AspNetCore.Identity
@using Core.Entities;
@inject SignInManager<LMSUser> SignInManager
@inject UserManager<LMSUser> UserManager

@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole("Admin"))
{

    <h1>Hello Admin</h1>
    <a class="nav-link text-dark" asp-controller="Courses" asp-action="Index">Courses</a>
    //await Component.InvokeAsync("DashboardSchedule", new { userId = UserManager.GetUserId(User) });


}
else
{
    <div class="d-flex m-5">
        <div>
            @await Component.InvokeAsync("DashboardSchedule", new { userId = UserManager.GetUserId(User) })

            @*<partial name="StudentDashboardPartial" model="@await Component.InvokeAsync("DashboardSchedule", new { userId = UserManager.GetUserId(User) })"/>*@
            @*<vc:dashboard-schedule userId="@UserManager.GetUserId(User)"></vc:dashboard-schedule>*@
        </div>

        @*<div class="d-flex flex-column">
            <div>Course Modules</div>
            <div class="d-flex" >
                <div>My Course</div>
                <div>Assignment</div>
            </div>
        </div>*@



    </div>
    @*<h1>Hello Student</h1>
        <a class="nav-link text-dark" asp-controller="Documents" asp-action="Index">Files</a>*@

}
