@using Microsoft.AspNetCore.Identity
@using Core.Entities;
@inject SignInManager<LMSUser> SignInManager
@inject UserManager<LMSUser> UserManager


@if (User.IsInRole("Student"))
{
    <h1>Hello Student</h1>
    <a class="nav-link text-dark" asp-controller="Documents" asp-action="Index">Files</a>


}
else
{
    <h1>Hello Admin</h1>
    <a class="nav-link text-dark" asp-controller="Courses" asp-action="Index">Courses</a>
}
