@page
@model Web.Areas.Identity.Pages.Account.LoginModel




<div class="text-left">
    <div class="jumbotron">
        <h1 class="display-3">Welcome</h1>
        <p class="lead">Please provide your username and your password</p>
        <hr class="my-4">


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>

    </div>
</div>
