@using Core.ViewModels;
@using Core.Utilities;
@using System.Text;
@using Microsoft.AspNetCore.Html;
@model IEnumerable<DocumentFileViewModel>

<body>
    <table>
        <tr>
        
            <th>Courses Name</th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>@item.Course.Name</td>*@
                <td>@Html.ActionLink("Download", "DownloadFile", new { fileName = item.Course.Name })</td>
            </tr>
        }
    </table>
</body>

