/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #e8e8e4;
    color: #fff;
    transition: all 0.3s;
/*    position: fixed;
    top: 0;
    height: 100%;*/
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 2em;
        background: #e8e8e4;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 0.5em 2em;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #6d7fcc;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /*background: #6d7fcc;*/
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.logout {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


.notActive {
    opacity: 0;
}

.topNav {
    display: none;
}

.center-box {
    position: absolute;
    top: 200px;
    background: #fff;
    overflow: scroll;
    height: 600px;
    z-index: 1;
    /*
  This doesn't work
  margin-left: -25%;
  margin-top: -25%;
  */
    /*    width: 40%;
    height: 50%;
    padding: 20px;
    background: red;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);*/
}

.top-box {
    position: absolute;
    overflow: scroll;
    height: 600px;
    color: grey;
    /*
  This doesn't work
  margin-left: -25%;
  margin-top: -25%;
  */
    /*    width: 40%;
    height: 50%;
    padding: 20px;
    background: red;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);*/
}

.bottom-box {
    position: absolute;
    left: 50%;
    top: 900px;
    transform: translate(-50%, -50%);
    background: #fff;
    margin: 0 3% 0 3%;
    /*
  This doesn't work
  margin-left: -25%;
  margin-top: -25%;
  */
    /*    width: 40%;
    height: 50%;
    padding: 20px;
    background: red;
    color: white;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);*/
}

.main-schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#yesterday, #tomorrow {
    opacity: 0.4;
}

.today {
    opacity: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em 2em;
    font-size: 0.9em;
}

.user-list .user-list-image img {
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
}

.user-grid .user-list-image {
    text-align: center;
    margin-right: 0px;
}

    .user-grid .user-list-image img {
        height: 150px;
        width: 100%;
    }

.user-card {
    width: 16rem;
    margin-left: 1rem;
}

    .user-card:hover {
        color: #6b705c;
        -webkit-box-shadow: -1px 4px 5px 1px #b7b7a4;
        box-shadow: -1px 4px 5px 1px #b7b7a4;
    }

.user-list-group {
    font-size: 0.7em;
    text-align: center;
}

.user-card-header {
    text-align: center;
}

#accordion .ui-accordion-header {
    background: #b7b7a4;
    padding: 2%;
    margin-bottom: 1%;
    padding-left: 2%;
    width: 40em;
    /*border-radius: 16px;*/
}

#accordion .ui-accordion-header a {
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    border-top: 1px solid rgba(250, 250, 250, .2);
}

.accordion .icon {
   padding-right: 10%;
}

#accordion .ui-accordion-header a {
    border-style: dotted;
    background: black;
}

#accordion .ui-accordion-content {
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, .4), inset 0px 1px 1px 0px rgba(0, 0, 0, .2);
}

#accordion .ui-accordion-content:last-of-type {
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2), inset 0px 0 0px 0px rgba(0, 0, 0, .5);
}

#page-content-wrapper {
    padding-left: 12em;
}

.row {
    margin: 1.5em;
}

.card-body {
    max-width: 30em;
}

.card {
    max-width: 45em;
}

.student-class-card {
    max-width: 70em;
}

.course-edit-card {
    min-width: 32em;
}

.student-dashboard-day-card {
    width: 25em;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    .topNav {
        display: block;
    }

    #page-content-wrapper {
        padding-left: 0em;
    }
}

