@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@{if (SignInManager.IsSignedIn(User) == false)
    {

        <div class="d-flex justify-content-center m-5">

            <div class="jumbotron w-50 m-5">
                @*<div style="position: absolute; left: 1190px; top: 50px; background: blue; color: white; padding: 50px; font-size: 40px; ">
                    LMS
                </div>*@
                <h1 class="display-3">Welcome</h1>
                <p class="lead">Please provide your username and your password</p>
                <hr class="my-4">
                <form id="account" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group w-50">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group w-50">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>*@
                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary w-25">Log in</button>
                    </div>

                </form>

            </div>
        </div>
    }
    else
    {
        Response.Redirect("/");
    }
}







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
