@using Microsoft.AspNetCore.Identity
@using Core.Entities;
@inject SignInManager<LMSUser> SignInManager
@inject UserManager<LMSUser> UserManager

    <!-- Sidebar  -->
    <nav id="sidebar">
        <div class="sidebar-header  text-dark">
            <h6>LSM Group 2</h6>
        </div>

        <ul class="list-unstyled components text-dark">

            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a asp-controller="Courses" asp-action="StudentCourse">My Course</a>
            </li>
            <li>
                <a asp-controller="Users" asp-action="StudentClass">My Class</a>
            </li>
            <li>
                <a asp-controller="Users" asp-action="StudentSchedule">Schedule</a>
            </li>
            <li>
                <a asp-controller="Documents" asp-action="Index">Files</a>
            </li>
            <li>
                <a asp-controller="Literature" asp-action="Index">Literature</a>
            </li>
            <li>
                <a asp-controller="Activities" asp-action="Assignments">Assignments</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li>
                <form name="logout" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <a href="#" class="logout" onclick="this.forms['logout'].submit()">Log out</a>
                </form>
            </li>
        </ul>
    </nav>


@*<nav id="sidebar" class="d-flex flex-column justify-content-between">*@





@*<div style="background: #fff;" class="border-right d-flex flex-column justify-content-between" id="sidebar-wrapper">
        <div>
            <div style="background: #109BF8; " class="col text-left logo pl-5">
                <a style="color: #fff;" asp-controller="Home" asp-action="Index">LMS</a>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse w-100">
                <ul class="navbar-nav flex-grow-1">
                    <li style="background: #003277;">
                        <a style=" color: #fff; " class="nav-link w-100 pl-5" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                    </li>


            <li>
                <a  asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a  asp-controller="Courses" asp-action="Index">My Courses</a>
            </li>
            <li>
                <a  asp-controller="Users" asp-action="StudentClass">My Class</a>
            </li>
            <li>
                <a  asp-controller="Schedule" asp-action="Index">Schedule</a>
            </li>
            <li>
                <a  asp-controller="Documents" asp-action="Index">Files</a>
            </li>
            <li>
                <a  asp-controller="Literature" asp-action="Index">Literature</a>
            </li>
            <li>
                <a  asp-controller="Activities" asp-action="Assignments">Assignments</a>
            </li>

                </ul>



            </div>
        </div>

        <form style="background: #109BF8; color: #fff;" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button style="color: #fff;" type="submit" class="nav-link btn ">Logout</button>
        </form>
    </div>*@
