@model ActivityViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex mt-3 ml-5">
    <div>
        <div class="card border-secondary course-edit-card">
            <div class="card-header">
                <h4>Edit Activity</h4>
                <hr />
                <div class="col-md-12">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea rows="4" asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="StartDate" class="control-label"></label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="control-label"></label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ModuleId" class="control-label"></label>
                            <select asp-for="ModuleId" class="form-control" asp-items="ViewBag.ModuleSelectList"></select>
                            <span asp-validation-for="ModuleId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ActivityTypeId" class="control-label"></label>
                            <select asp-for="ActivityTypeId" class="form-control" asp-items="ViewBag.ActivityTypeSelectList"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-controller="Courses" asp-action="Index">Back to List</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
